/dist/
/node_modules/
/public/
/src/
/.env.development
/.env.production
/.gitignore
/.npmignore
/babel.config.js
/package-back.json
/package-lock.json
/postcss.config.js
/vue.config.js
/vue.config-back.js
/README-back.md
/.temp/
/.vuepress/
/docs/